In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [2]:
# membaca file produksi tahun 2022
df_produksi22 = pd.read_csv("produksibio_22.csv")
df_produksi22["Tahun"] = 2022

In [3]:
df_produksi22.head()

,Kabupaten/Kota,Produksi Jahe (kilogram) (Kg),Produksi Kapulaga (kilogram) (Kg),Produksi Keji Beling (kilogram) (Kg),Produksi Kencur (kilogram) (Kg),Produksi Kunyit (kilogram) (Kg),Produksi Laos/Lengkuas (kilogram) (Kg),Produksi Lempuyang (kilogram) (Kg),Produksi Lidah Buaya (kilogram) (Kg),Produksi Mahkota Dewa (kilogram) (Kg),Produksi Mengkudu/Pace (kilogram) (Kg),Produksi Sambiloto (kilogram) (Kg),Produksi Temuireng (kilogram) (Kg),Produksi Temukunci (kilogram) (Kg),Produksi Temulawak (kilogram) (Kg),Produksi Jeruk Nipis (kilogram) (Kg),Produksi Serai (kilogram) (Kg),Tahun
0,Bogor,1846492.0,991086.0,...,991711.0,613219.0,9595520.0,10969.0,79570.0,NaN,1650.0,670.0,NaN,208625.0,2230.0,484840.0,2556630.0,2022
1,Sukabumi,2460730.0,3274289.0,...,314467.0,980771.0,151250.0,10000.0,NaN,NaN,1450.0,NaN,8816.0,4320.0,7440.0,678325.0,430350.0,2022
2,Cianjur,8432336.0,35049626.0,...,858371.0,872659.0,1176925.0,1321.0,44012.0,244014.0,462557.0,NaN,NaN,NaN,4758.0,1666446.0,1821455.0,2022
3,Bandung,606097.0,92938.0,...,45304.0,219384.0,82058.0,2805.0,3191.0,18923.0,9465.0,811.0,NaN,25600.0,3765.0,227366.0,206429.0,2022
4,Garut,30009597.0,12055152.0,...,147243.0,3479861.0,165117.0,NaN,56490.0,NaN,NaN,NaN,NaN,NaN,1388.0,94630.0,133878.0,2022

In [4]:
# membaca file produksi tahun 2023
df_produksi23 = pd.read_csv("produksibio_23.csv")
df_produksi23["Tahun"] = 2023

In [5]:
df_produksi23.head()

,Kabupaten/Kota,Produksi Jahe (kilogram) (Kg),Produksi Kapulaga (kilogram) (Kg),Produksi Keji Beling (kilogram) (Kg),Produksi Kencur (kilogram) (Kg),Produksi Kunyit (kilogram) (Kg),Produksi Laos/Lengkuas (kilogram) (Kg),Produksi Lempuyang (kilogram) (Kg),Produksi Lidah Buaya (kilogram) (Kg),Produksi Mahkota Dewa (kilogram) (Kg),Produksi Mengkudu/Pace (kilogram) (Kg),Produksi Sambiloto (kilogram) (Kg),Produksi Temuireng (kilogram) (Kg),Produksi Temukunci (kilogram) (Kg),Produksi Temulawak (kilogram) (Kg),Produksi Jeruk Nipis (kilogram) (Kg),Produksi Serai (kilogram) (Kg),Tahun
0,Bogor,1919815.0,275541.0,...,1859860.0,1621059.0,6496655.0,5700.0,123835.0,NaN,1200.0,9800.0,NaN,948300.0,4450.0,537860.0,1754165.0,2023
1,Sukabumi,4604247.0,5536645.0,...,461876.0,993650.0,95950.0,607.0,NaN,NaN,362645.0,NaN,15200.0,10800.0,12350.0,1750945.0,357150.0,2023
2,Cianjur,7054560.0,32154347.0,...,838772.0,1483057.0,1187072.0,1292.0,40115.0,97696.0,454478.0,NaN,NaN,95.0,2800.0,1435338.0,1740036.0,2023
3,Bandung,991537.0,452213.0,...,89925.0,437854.0,263909.0,NaN,7132.0,68802.0,86123.0,8381.0,11692.0,27255.0,80219.0,209464.0,562904.0,2023
4,Garut,15272567.0,13667148.0,...,160133.0,10053007.0,222218.0,NaN,13670.0,NaN,NaN,NaN,NaN,NaN,228.0,94045.0,518148.0,2023

In [6]:
# membaca file produksi tahun 2024
df_produksi24 = pd.read_csv("produksibio_24.csv")
df_produksi24["Tahun"] = 2024

In [7]:
df_produksi24.head()

,Kabupaten/Kota,Produksi Jahe (kilogram) (Kg),Produksi Kapulaga (kilogram) (Kg),Produksi Keji Beling (kilogram) (Kg),Produksi Kencur (kilogram) (Kg),Produksi Kunyit (kilogram) (Kg),Produksi Laos/Lengkuas (kilogram) (Kg),Produksi Lempuyang (kilogram) (Kg),Produksi Lidah Buaya (kilogram) (Kg),Produksi Mahkota Dewa (kilogram) (Kg),Produksi Mengkudu/Pace (kilogram) (Kg),Produksi Sambiloto (kilogram) (Kg),Produksi Temuireng (kilogram) (Kg),Produksi Temukunci (kilogram) (Kg),Produksi Temulawak (kilogram) (Kg),Produksi Jeruk Nipis (kilogram) (Kg),Produksi Serai (kilogram) (Kg),Tahun
0,Bogor,7600865.0,129393.0,...,2776168.0,1293111.0,17819907.0,6300.0,69087.0,NaN,800.0,7740.0,NaN,743500.0,19700.0,253440.0,3571047.0,2024
1,Sukabumi,1896715.0,5602791.0,...,280095.0,514325.0,73660.0,725.0,NaN,NaN,345.0,NaN,NaN,NaN,102600.0,382380.0,446715.0,2024
2,Cianjur,7121555.0,24648691.0,...,725506.0,1629465.0,1239441.0,1332.0,35185.0,45140.0,452503.0,NaN,NaN,93.0,2990.0,1574706.0,1712742.0,2024
3,Bandung,722944.0,215236.0,...,87210.0,447046.0,102434.0,NaN,14316.0,25583.0,5884.0,2932.0,2416.0,3057.0,28395.0,335363.0,395125.0,2024
4,Garut,13753701.0,43658227.0,...,198150.0,16759112.0,375645.0,NaN,11318.0,NaN,1721.0,NaN,NaN,NaN,NaN,263224.0,403742.0,2024

In [8]:
# membaca file luas lahan tahun 2022
df_luaspanen22 = pd.read_csv("biofarmaka_2022.csv")
df_luaspanen22["Tahun"] = 2022

In [9]:
df_luaspanen22.head()

,Kabupaten/Kota,Luas Panen Jahe (meter persegi) (M2),Luas Panen Kapulaga (meter persegi) (M2),Luas Panen Keji Beling (meter persegi) (M2),Luas Panen Kencur (meter persegi) (M2),Luas Panen Kunyit (meter persegi) (M2),Luas Panen Laos/Lengkuas (meter persegi) (M2),Luas Panen Lempuyang (meter persegi) (M2),Luas Panen Lidah Buaya (meter persegi) (M2),Luas Panen Mahkota Dewa (pohon) (Pohon),Luas Panen Mengkudu/Pace (pohon) (Pohon),Luas Panen Sambiloto (meter persegi) (M2),Luas Panen Temuireng (meter persegi) (M2),Luas Panen Temukunci (meter persegi) (M2),Luas Panen Temulawak (meter persegi) (M2),Luas Panen Jeruk Nipis (pohon) (Pohon),Luas Panen Serai (meter persegi) (Pohon),Tahun
0,Bogor,395155.0,422135.0,...,394387.0,189073.0,2448666.0,3050.0,45100.0,NaN,650.0,500.0,NaN,95700.0,700.0,22600.0,510025.0,2022
1,Sukabumi,2780367.0,1895720.0,...,206570.0,731935.0,176150.0,3000.0,NaN,NaN,845.0,NaN,15200.0,10800.0,12000.0,39143.0,143400.0,2022
2,Cianjur,2020710.0,5137988.0,...,351232.0,321601.0,207488.0,880.0,5429.0,11328.0,26601.0,NaN,NaN,NaN,1748.0,35026.0,198616.0,2022
3,Bandung,339831.0,101032.0,...,37992.0,163466.0,45190.0,2010.0,1035.0,1275.0,2850.0,758.0,NaN,5000.0,2425.0,18206.0,49910.0,2022
4,Garut,10186087.0,16082183.0,...,94214.0,1185352.0,57275.0,NaN,1486.0,NaN,NaN,NaN,NaN,NaN,373.0,6628.0,28146.0,2022

In [10]:
# membaca file luas lahan tahun 2023
df_luaspanen23 = pd.read_csv("biofarmaka_2023.csv")
df_luaspanen23["Tahun"] = 2023

In [11]:
df_luaspanen23.head()

,Kabupaten/Kota,Luas Panen Jahe (meter persegi) (M2),Luas Panen Kapulaga (meter persegi) (M2),Luas Panen Keji Beling (meter persegi) (M2),Luas Panen Kencur (meter persegi) (M2),Luas Panen Kunyit (meter persegi) (M2),Luas Panen Laos/Lengkuas (meter persegi) (M2),Luas Panen Lempuyang (meter persegi) (M2),Luas Panen Lidah Buaya (meter persegi) (M2),Luas Panen Mahkota Dewa (pohon) (Pohon),Luas Panen Mengkudu/Pace (pohon) (Pohon),Luas Panen Sambiloto (meter persegi) (M2),Luas Panen Temuireng (meter persegi) (M2),Luas Panen Temukunci (meter persegi) (M2),Luas Panen Temulawak (meter persegi) (M2),Luas Panen Jeruk Nipis (pohon) (Pohon),Luas Panen Serai (meter persegi) (Pohon),Tahun
0,Bogor,468815.0,398571.0,...,339200.0,283118.0,971920.0,1650.0,56400.0,NaN,100.0,7400.0,NaN,85850.0,800.0,29592.0,303040.0,2023
1,Sukabumi,2342022.0,2470450.0,...,94240.0,206160.0,49760.0,300.0,NaN,NaN,10745.0,NaN,15200.0,10800.0,12070.0,32770.0,55900.0,2023
2,Cianjur,1765659.0,5795467.0,...,210821.0,446421.0,109632.0,700.0,6201.0,3850.0,26159.0,NaN,NaN,50.0,970.0,42279.0,191838.0,2023
3,Bandung,497278.0,123293.0,...,34139.0,139294.0,62301.0,NaN,4380.0,1600.0,4156.0,1394.0,2583.0,22085.0,31401.0,21006.0,113259.0,2023
4,Garut,5250841.0,10552709.0,...,95760.0,3482960.0,128226.0,NaN,1395.0,NaN,NaN,NaN,NaN,NaN,59.0,9217.0,142372.0,2023

In [12]:
# membaca file luas lahan tahun 2024
df_luaspanen24 = pd.read_csv("biofarmaka_2024.csv")
df_luaspanen24["Tahun"] = 2024

In [13]:
df_luaspanen24.head()

,Kabupaten/Kota,Luas Panen Jahe (meter persegi) (M2),Luas Panen Kapulaga (meter persegi) (M2),Luas Panen Keji Beling (meter persegi) (M2),Luas Panen Kencur (meter persegi) (M2),Luas Panen Kunyit (meter persegi) (M2),Luas Panen Laos/Lengkuas (meter persegi) (M2),Luas Panen Lempuyang (meter persegi) (M2),Luas Panen Lidah Buaya (meter persegi) (M2),Luas Panen Mahkota Dewa (pohon) (Pohon),Luas Panen Mengkudu/Pace (pohon) (Pohon),Luas Panen Sambiloto (meter persegi) (M2),Luas Panen Temuireng (meter persegi) (M2),Luas Panen Temukunci (meter persegi) (M2),Luas Panen Temulawak (meter persegi) (M2),Luas Panen Jeruk Nipis (pohon) (Pohon),Luas Panen Serai (meter persegi) (Pohon),Tahun
0,Bogor,972145.0,81573.0,...,341168.0,233481.0,1541172.0,1650.0,41950.0,NaN,100.0,7440.0,NaN,62300.0,6900.0,19650.0,472321.0,2024
1,Sukabumi,1049135.0,2549150.0,...,97425.0,215160.0,18805.0,355.0,NaN,NaN,345.0,NaN,NaN,NaN,20050.0,23835.0,42400.0,2024
2,Cianjur,1806541.0,3610756.0,...,243353.0,476279.0,113040.0,271.0,3645.0,2403.0,16084.0,NaN,NaN,45.0,570.0,34114.0,168237.0,2024
3,Bandung,302889.0,40365.0,...,18995.0,82604.0,22225.0,NaN,1949.0,777.0,216.0,817.0,610.0,674.0,8871.0,15625.0,75611.0,2024
4,Garut,4684903.0,22997079.0,...,113146.0,5759287.0,118058.0,NaN,3630.0,NaN,600.0,NaN,NaN,NaN,NaN,37841.0,92304.0,2024

In [14]:
merge22 = pd.merge(df_produksi22, df_luaspanen22, on=["Kabupaten/Kota", "Tahun"], how="inner")
merge23 = pd.merge(df_produksi23, df_luaspanen23, on=["Kabupaten/Kota", "Tahun"], how="inner")
merge24 = pd.merge(df_produksi24, df_luaspanen24, on=["Kabupaten/Kota", "Tahun"], how="inner")

In [15]:
merge22 = pd.merge(df_produksi22, df_luaspanen22, on=["Kabupaten/Kota", "Tahun"], how="inner")
merge23 = pd.merge(df_produksi23, df_luaspanen23, on=["Kabupaten/Kota", "Tahun"], how="inner")
merge24 = pd.merge(df_produksi24, df_luaspanen24, on=["Kabupaten/Kota", "Tahun"], how="inner")

In [16]:
def bersihkan(df):
    df = df.replace("...", np.nan)
    df = df.fillna(0)
    return df

In [17]:
merge22 = bersihkan(merge22)
merge23 = bersihkan(merge23)
merge24 = bersihkan(merge24)

C:\Users\user\AppData\Local\Temp\ipykernel_10316\4166750979.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace("...", np.nan)

In [18]:
def clustering_tahunan(df, tahun, n_cluster=3):
    print(f"\n=== HASIL CLUSTERING TAHUN {tahun} ===")

    data = df.copy()
    kab = data["Kabupaten/Kota"]

    # drop kolom non-numerik
    data = data.drop(columns=["Kabupaten/Kota", "Tahun"])

    # pastikan semua kolom numeric
    data = data.apply(pd.to_numeric, errors="coerce").fillna(0)

    # normalisasi
    scaler = StandardScaler()
    data_scaled = scaler.fit_transform(data)

    # K-Means
    kmeans = KMeans(n_clusters=n_cluster, random_state=42)
    labels = kmeans.fit_predict(data_scaled)

    hasil = pd.DataFrame({
        "Kabupaten/Kota": kab,
        f"Cluster_{tahun}": labels
    })

    print(hasil)
    return hasil

In [19]:
cluster22 = clustering_tahunan(merge22, 2022)
cluster23 = clustering_tahunan(merge23, 2023)
cluster24 = clustering_tahunan(merge24, 2024)

=== HASIL CLUSTERING TAHUN 2022 ===
      Kabupaten/Kota  Cluster_2022
0              Bogor             2
1           Sukabumi             0
2            Cianjur             0
3            Bandung             0
4              Garut             0
5        Tasikmalaya             0
6             Ciamis             0
7           Kuningan             0
8            Cirebon             0
9         Majalengka             0
10          Sumedang             0
11         Indramayu             0
12            Subang             0
13        Purwakarta             0
14          Karawang             0
15            Bekasi             0
16     Bandung Barat             0
17       Pangandaran             0
18        Kota Bogor             0
19     Kota Sukabumi             0
20      Kota Bandung             0
21      Kota Cirebon             0
22       Kota Bekasi             0
23        Kota Depok             0
24       Kota Cimahi             0
25  Kota Tasikmalaya             0
26       Kota Banjar             0
27        Jawa Barat             1
28                 0             0
29           Catatan             0
30   Angka sementara             0

=== HASIL CLUSTERING TAHUN 2023 ===
      Kabupaten/Kota  Cluster_2023
0              Bogor             2
1           Sukabumi             0
2            Cianjur             0
3            Bandung             0
4              Garut             0
5        Tasikmalaya             0
6             Ciamis             0
7           Kuningan             0
8            Cirebon             0
9         Majalengka             0
10          Sumedang             0
11         Indramayu             0
12            Subang             0
13        Purwakarta             0
14          Karawang             0
15            Bekasi             0
16     Bandung Barat             0
17       Pangandaran             0
18        Kota Bogor             0
19     Kota Sukabumi             0
20      Kota Bandung             0
21      Kota Cirebon             0
22       Kota Bekasi             0
23        Kota Depok             0
24       Kota Cimahi             0
25  Kota Tasikmalaya             0
26       Kota Banjar             0
27        Jawa Barat             1
28                 0             0
29           Catatan             0
30       Angka tetap             0

=== HASIL CLUSTERING TAHUN 2024 ===
      Kabupaten/Kota  Cluster_2024
0              Bogor             2
1           Sukabumi             0
2            Cianjur             2
3            Bandung             0
4              Garut             2
5        Tasikmalaya             2
6             Ciamis             0
7           Kuningan             0
8            Cirebon             0
9         Majalengka             0
10          Sumedang             0
11         Indramayu             0
12            Subang             0
13        Purwakarta             0
14          Karawang             0
15            Bekasi             0
16     Bandung Barat             0
17       Pangandaran             0
18        Kota Bogor             0
19     Kota Sukabumi             0
20      Kota Bandung             0
21      Kota Cirebon             0
22       Kota Bekasi             0
23        Kota Depok             0
24       Kota Cimahi             0
25  Kota Tasikmalaya             0
26       Kota Banjar             0
27        Jawa Barat             1
28                 0             0
29           Catatan             0
30       Angka tetap             0

In [20]:
# ==== SATUKAN SEMUA TAHUN ====
dataset_final = pd.concat([merge22, merge23, merge24], ignore_index=True)

In [21]:
# ==== SIMPAN SEBAGAI CSV FINAL ====
dataset_final.to_csv("dataset_final.csv", index=False)

In [22]:
dataset_final.head()

,Kabupaten/Kota,Produksi Jahe (kilogram) (Kg),Produksi Kapulaga (kilogram) (Kg),Produksi Keji Beling (kilogram) (Kg),Produksi Kencur (kilogram) (Kg),Produksi Kunyit (kilogram) (Kg),Produksi Laos/Lengkuas (kilogram) (Kg),Produksi Lempuyang (kilogram) (Kg),Produksi Lidah Buaya (kilogram) (Kg),Produksi Mahkota Dewa (kilogram) (Kg),...,Luas Panen Lempuyang (meter persegi) (M2),Luas Panen Lidah Buaya (meter persegi) (M2),Luas Panen Mahkota Dewa (pohon) (Pohon),Luas Panen Mengkudu/Pace (pohon) (Pohon),Luas Panen Sambiloto (meter persegi) (M2),Luas Panen Temuireng (meter persegi) (M2),Luas Panen Temukunci (meter persegi) (M2),Luas Panen Temulawak (meter persegi) (M2),Luas Panen Jeruk Nipis (pohon) (Pohon),Luas Panen Serai (meter persegi) (Pohon)
0,Bogor,1846492.0,991086.0,0.0,991711.0,613219.0,9595520.0,10969.0,79570.0,0.0,...,3050.0,45100.0,0.0,650.0,500.0,0.0,95700.0,700.0,22600.0,510025.0
1,Sukabumi,2460730.0,3274289.0,0.0,314467.0,980771.0,151250.0,10000.0,0.0,0.0,...,3000.0,0.0,0.0,845.0,0.0,15200.0,10800.0,12000.0,39143.0,143400.0
2,Cianjur,8432336.0,35049626.0,0.0,858371.0,872659.0,1176925.0,1321.0,44012.0,244014.0,...,880.0,5429.0,11328.0,26601.0,0.0,0.0,0.0,1748.0,35026.0,198616.0
3,Bandung,606097.0,92938.0,0.0,45304.0,219384.0,82058.0,2805.0,3191.0,18923.0,...,2010.0,1035.0,1275.0,2850.0,758.0,0.0,5000.0,2425.0,18206.0,49910.0
4,Garut,30009597.0,12055152.0,0.0,147243.0,3479861.0,165117.0,0.0,56490.0,0.0,...,0.0,1486.0,0.0,0.0,0.0,0.0,0.0,373.0,6628.0,28146.0